<header>
    <nav class="navbar navbar-expand-lg navbar-dark custom-bg">
        <div class="container">
            <div class="header-mobile">
                <a class="navbar-brand" href="#">Asegurados<span>.com</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="menu-mobile">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown mr-5">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Acerca de nosotros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Misión</a></li>
                                <li><a class="dropdown-item" href="#">Visión</a></li>
                            </ul>
                        </li>
                        <li class="mobile-menu nav-item mr-5">
                            <a class="align-items-center d-flex justify-content-between nav-link text-white" href="#">
                                Acerca de nosotros
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>
                            <ul class="pl-2">
                                <li class="text-white">Misión</li>
                                <li class="text-white">Visión</li>
                            </ul>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="align-items-center d-flex justify-content-between nav-link text-white" href="#">
                                Descarga tu poliza
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Términos y condiciones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>