<footer>
    <section class="information">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="list-items">
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Descarga tu poliza</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="social-media">
                        <p>Síguenos en nuestras redes sociales</p>
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copy">
        <p>Copyrigth {{currentYear}}</p>
    </section>
</footer>