@import '../assets/sass/fonts';
body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main-container {
    min-height: calc(100vh - 172px);
    @media only screen and (max-width: 396px) {
        min-height: calc(100vh - 50px);
    }
}

.carousel_form {
    .carousel {
        width: 67%;
    }
    .form {
        width: 33%;
        z-index: 1;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80px;
        top: 200px;
        left: 0;
        background: #29abe2;
    }
    @media only screen and (max-width: 1024px) {
        .carousel {
            width: 100%;
        }
        .form {
            width: 100%;
        }
    }
    @media only screen and (max-width: 786px) {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        &::before {
            display: none;
        }
        .form {
            position: absolute;
            top: 334px;
            right: 0;
            width: 65%;
        }
    }
    @media only screen and (max-width: 396px) {
        .form {
            width: 85%;
            left: 50%;
            transform: translate(-50%, 42%);
            top: 50%;
        }
    }
    @media only screen and (max-width: 393px) {
        height: 400px;
        .form {
            position: absolute;
            top: 40%;
            width: 85%;
        }
    }
    @media only screen and (max-width: 360px) {
        .form {
            top: 50%;
        }
    }
}